@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,400');

// style variables
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Montserrat', sans-serif;
$h1: 64px;
$h1-lg: 52px;
$h1-md: 42px;
$h2: 38px;
$h2-md: 36px;
$h3: 30px;
$h3-md: 28px;
$h4: 24px;
$h5: 18px;
$h6: 16px;
$color-primary: #4c74ee;
$body-background: #fff6ef;
$white: #ffffff;
$black: #000000;
$dark: #152035;
$gray: #505050;
$light: #FAFAFA;
$red: #ee4c4c;