// start header style
.header-height-fix {
  height: 116px;
  @include desktop {
    height: 115px;
  }
  @include tablet {
    height: 105px;
  }
}
.header-nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: $body-background;
  padding: 50px 0 20px;
  transition: .4s cubic-bezier(.2,1,.2,1);
  background-color: rgba($body-background, 0.9);
  backdrop-filter: blur(16px);

  @include tablet {
    padding: 30px 0;
  }

  &.header-nav-unpinned {
    transform: translateY(-100%);
  }
  &.header-sticky-top {
    box-shadow: 0 0 50px -30px rgba($color-primary, .5);
    padding: 20px 0;
  }

  .navbar-brand {
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      opacity: .8;
    }
  }

  .nav-item {
    &.active .nav-link {
      color: $color-primary !important;
    }

    &.dropdown .nav-link {
      position: relative;
    }

    &.dropdown .nav-link::after {
      display: none;
    }

    &.dropdown .nav-link::after {
      position: absolute;
      right: 18px;
      top: calc(50% - 7px);
      display: inline-block;
      vertical-align: .255em;
      content: "";
      height: 9px;
      width: 9px;
      border: 2px solid;
      border-left: 0;
      border-top: 0;
      border-color: inherit;
      border-radius: 2px;
      transform: rotate(45deg);
      transition: 0s;
      border-top: 0;
      border-left: 0;
      @include desktop {
        position: static;
        margin-left: 8px;
        vertical-align: .18em;
      }
    }

    .nav-link {
      color: $dark !important;
      padding: 10px 20px !important;
      border-radius: 4px;
    }
    &:hover .nav-link {
      background-color: rgba($color-primary, .1);
      color: $dark !important;
    }
    @media (min-width:991px) {
      &.dropdown .nav-link.dropdown-toggle {
        padding-right: 35px !important;
      }
    }
  }

  @media (min-width:991px) {
    .dropdown-menu {
      display: block;
      opacity: 0;
      visibility: hidden;
      width: 220px;
      transition: 0.2s;
      left: 50%;
      transform: translate(-50%, 5px);
    }

    .dropdown:hover .dropdown-menu {
      opacity: 1;
      visibility: visible;
      box-shadow: 0 10px 30px rgba(22, 28, 45, .10);
      transform: translate(-50%, -5px);
    }
  }
  .dropdown-menu {
    border: 0;
    padding: 12px 8px;
    margin-top: 7px;
  }
  .dropdown-menu[data-bs-popper] {
    left: 50%;
    margin-top: 7px;
  }
  .dropdown-item {
    font-size: 16px;
    padding: 7px 14px;
    border-radius: 4px;
  }
  .dropdown-item.active,
  .dropdown-item:active {
    color: $color-primary;
    background-color: transparent;
  }
  .dropdown-item:focus,
  .dropdown-item:hover {
    color: $color-primary;
    background-color: rgba($color-primary, .1);
  }

  .navbar-light .navbar-toggler {
    border-color: transparent;
    padding: 0;
    font-size: 38px;
    color: $dark;
    transition: .3s ease;
    
    &:focus {
      box-shadow: none;
    }
  }
  .navbar-toggler[aria-expanded="true"] {
    .d-none {
      display: inline !important;
    }
    .d-inline {
      display: none !important;
    }
  }

  @include desktop {
    .navbar-nav {
      max-width: 300px;
      text-align: center;
      padding-top: 20px;
    }

    .navbar-right {
      text-align: center;
      margin-top: 20px;
      padding-bottom: 30px;
    }

    .dropdown-menu {
      padding: 5px;
      text-align: center;
      background: rgba($color-primary, .05);
    }

    .nav-item .nav-link {
      padding: 7px 20px !important;
    }
  }
}